---
Language: Cpp
BasedOnStyle: LLVM
AlignEscapedNewlines: DontAlign
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: true
InsertBraces: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
...
