---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: true
InsertBraces: true
BinPackArguments: false
...
