name: "compiler explorer user execution sandbox"

mode: ONCE
hostname: "ce"

time_limit: 0

log_level: ERROR

rlimit_as_type: INF
rlimit_cpu_type: SOFT
rlimit_fsize: 1024 # 1GB
rlimit_nofile: 300 # 300 because .NET loves to open many files

uidmap {
    inside_id: "10240"
}

gidmap {
    inside_id: "10240"
}

detect_cgroupv2: true

# for cgroups v2:
# must run following as root during system startup
# cgcreate -a $USER:$USER -g memory,pids,cpu:ce-sandbox
# sudo chown $USER:root /sys/fs/cgroup/cgroup.procs
cgroupv2_mount: "/sys/fs/cgroup/ce-sandbox"

mount {
    src: "/lib"
    dst: "/lib"
    is_bind: true
}

mount {
    src: "/usr/lib"
    dst: "/usr/lib"
    is_bind: true
}

mount {
    src: "/usr/local/lib"
    dst: "/usr/local/lib"
    is_bind: true
}

# To allow cctz to work
mount {
    src: "/usr/share/zoneinfo"
    dst: "/usr/share/zoneinfo"
    is_bind: true
}

# Might as well shitelist this (cc @apmorton #2095)
mount {
    src: "/etc/localtime"
    dst: "/etc/localtime"
    is_bind: true
}
mount {
    src_content: "ce:x:10240:10240:Not a real account:/app:/bin/bash"
    dst: "/etc/passwd"
    is_bind: true
}
mount {
    # this password hash is here intentionally, and is not actually used for anything
    src_content: "ce:$1$rockyou$hty8SH9lK4mcCQXKENxaa1:18723:0:99999:7:::"
    dst: "/etc/shadow"
    is_bind: true
}

mount {
    src: "/lib64"
    dst: "/lib64"
    is_bind: true
    mandatory: false
}

mount {
    dst: "/tmp"
    fstype: "tmpfs"
    options: "size=20971520,nr_inodes=100" # 20 MiB
    rw: true
    noexec: true
    nodev: true
    nosuid: true
}

mount {
    dst: "/dev"
    fstype: "tmpfs"
}

mount {
    src: "/dev/null"
    dst: "/dev/null"
    rw: true
    is_bind: true
}

mount {
    src: "/dev/zero"
    dst: "/dev/zero"
    is_bind: true
}

mount {
    src: "/dev/urandom"
    dst: "/dev/random"
    is_bind: true
}

mount {
    src: "/dev/urandom"
    dst: "/dev/urandom"
    is_bind: true
}

seccomp_string: "POLICY ce_user_execution {"
seccomp_string: "    ALLOW {"
seccomp_string: "        execve, brk, mmap, munmap, mprotect, mremap, arch_prctl, access, openat,"
seccomp_string: "        newfstatat, newfstat, newlstat, newstat, read, close, exit_group,"
seccomp_string: "        getrandom, rt_sigaction, rt_sigprocmask, sigaltstack, gettid, futex,"
seccomp_string: "        set_tid_address, readlink, pread64, lseek, set_robust_list, prlimit64,"
seccomp_string: "        rt_sigreturn, rseq, clock_gettime,"
seccomp_string: "        write { fd == 1 || fd == 2 }"
seccomp_string: "    }"
seccomp_string: "}"
seccomp_string: "USE ce_user_execution DEFAULT ERRNO(1)"
