{% set ERR = [
		[ "YIO_ERROR_ENOMEM", "Not enough memory", ],
		[ "YIO_ERROR_ENOSYS", "Function not implemented", ],
		[ "YIO_ERROR_EIO", "Input/output error", ],
		[ "YIO_ERROR_ENOBUFS", "No buffer space available", ],
		[ "YIO_ERROR_FMT_INVALID", "Invalid format specifier", ],
		[ "YIO_ERROR_PYFMT_INVALID", "Invalid python format specifier", ],
		[ "YIO_ERROR_CFMT_INVALID", "Invalid C format specifier", ],
		[ "YIO_ERROR_SCANFMT_INVALID", "Invalid scan format specifier", ],
		[ "YIO_ERROR_SCAN_NOT_MATCHED", "Scanned character not matched", ],
		[ "YIO_ERROR_SCAN_OVERFLOW", "Scanning overflowed", ],
		[ "YIO_ERROR_SCAN_UNDERFLOW", "Scanning underflowed", ],
		[ "YIO_ERROR_TOO_MANY_FMT", "Too many format strings for arguments", ],
		[ "YIO_ERROR_SCAN_NOTHING", "No matching characters scanned", ],
		[ "YIO_ERROR_WCTOMB", "wctomb returned -1", ],
		[ "YIO_ERROR_MBTOWC", "mbtowc returned -1", ],
		[ "YIO_ERROR_U32_CONV_TO_ENCODING", "u32_conv_to_encoding returned NULL", ],
		[ "YIO_ERROR_U16_CONV_TO_ENCODING", "u16_conv_to_encoding returned NULL", ],
		[ "YIO_ERROR_U32_CONV_FROM_ENCODING", "u32_conv_from_encoding returned NULL", ],
		[ "YIO_ERROR_U16_CONV_FROM_ENCODING", "u16_conv_from_encoding returned NULL", ],
		[ "YIO_ERROR_C32TOMB", "c32rtomb returned -1", ],
		[ "YIO_ERROR_C16TOMB", "c16rtomb returned -1", ],
		[ "YIO_ERROR_MBTOC32", "c32rtomb returned -1", ],
		[ "YIO_ERROR_MBTOC16", "c16rtomb returned -1", ],
	]
%}

